In [2]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/creditcard.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17505 entries, 0 to 17504
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    17505 non-null  int64
 1   V1      17505 non-null  float64
 2   V2      17505 non-null  float64
 3   V3      17505 non-null  float64
 4   V4      17505 non-null  float64
 5   V5      17505 non-null  float64
 6   V6      17505 non-null  float64
 7   V7      17505 non-null  float64
 8   V8      17505 non-null  float64
 9   V9      17505 non-null  float64
 10  V10     17505 non-null  float64
 11  V11     17505 non-null  float64
 12  V12     17505 non-null  float64
 13  V13     17505 non-null  float64
 14  V14     17505 non-null  float64
 15  V15     17505 non-null  float64
 16  V16     17505 non-null  float64
 17  V17     17505 non-null  float64
 18  V18     17505 non-null  float64
 19  V19     17505 non-null  float64
 20  V20     17504 non-null  float64
 21  V21     17504 non-null  float64
 22  V22     17504 non-null  float64
 23  V23     17504 non-null  float64
 24  V24     17504 non-null  float64
 25  V25     17504 non-null  float64
 26  V26     17504 non-null  float64
 27  V27     17504 non-null  float64
 28  V28     17504 non-null  float64
 29  Amount  17504 non-null  float64
 30  Class   17504 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.1 MB
None

In [3]:
# Step 2: Exploratory Data Analysis (EDA)
# Check data quality, treat missing values, outliers, etc.
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17505 entries, 0 to 17504
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    17505 non-null  int64
 1   V1      17505 non-null  float64
 2   V2      17505 non-null  float64
 3   V3      17505 non-null  float64
 4   V4      17505 non-null  float64
 5   V5      17505 non-null  float64
 6   V6      17505 non-null  float64
 7   V7      17505 non-null  float64
 8   V8      17505 non-null  float64
 9   V9      17505 non-null  float64
 10  V10     17505 non-null  float64
 11  V11     17505 non-null  float64
 12  V12     17505 non-null  float64
 13  V13     17505 non-null  float64
 14  V14     17505 non-null  float64
 15  V15     17505 non-null  float64
 16  V16     17505 non-null  float64
 17  V17     17505 non-null  float64
 18  V18     17505 non-null  float64
 19  V19     17505 non-null  float64
 20  V20     17504 non-null  float64
 21  V21     17504 non-null  float64
 22  V22     17504 non-null  float64
 23  V23     17504 non-null  float64
 24  V24     17504 non-null  float64
 25  V25     17504 non-null  float64
 26  V26     17504 non-null  float64
 27  V27     17504 non-null  float64
 28  V28     17504 non-null  float64
 29  Amount  17504 non-null  float64
 30  Class   17504 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.1 MB
None

In [4]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,17505.000000,17505.000000,17505.000000,17505.000000,17505.000000,17505.000000,17505.000000,17505.000000,17505.000000,17505.000000,...,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000
mean,13551.932248,-0.252908,0.266305,0.777677,0.297187,-0.139561,0.101768,-0.149161,0.013150,0.756787,...,-0.055874,-0.153917,-0.037503,0.013845,0.119058,0.036679,0.014897,0.006677,67.139506,0.004628
std,9708.562338,1.902725,1.513770,1.775533,1.483059,1.429499,1.331392,1.348793,1.325779,1.273589,...,0.832151,0.629170,0.530078,0.587970,0.439118,0.539053,0.396986,0.249744,188.644288,0.067870
min,0.000000,-30.552380,-40.978852,-31.103685,-5.172595,-32.092129,-23.496714,-26.548144,-23.632502,-7.175097,...,-11.468435,-8.593642,-26.751119,-2.687773,-7.495741,-1.338556,-8.567638,-3.575312,0.000000,0.000000
25%,3764.000000,-0.964711,-0.297041,0.338816,-0.626582,-0.722373,-0.651489,-0.597054,-0.176683,-0.074848,...,-0.263849,-0.559341,-0.172920,-0.332065,-0.141366,-0.346882,-0.072038,-0.012243,5.400000,0.000000
50%,11905.000000,-0.312138,0.242082,0.922017,0.234986,-0.188225,-0.168952,-0.074964,0.019469,0.755407,...,-0.121184,-0.122747,-0.045502,0.062983,0.156878,-0.027753,0.002342,0.018242,15.950000,0.000000
75%,23049.000000,1.162544,0.882482,1.558261,1.163006,0.350886,0.497045,0.448635,0.273304,1.495627,...,0.037570,0.244326,0.073590,0.397211,0.396657,0.346363,0.099529,0.077038,56.167500,0.000000
max,28777.000000,1.960497,16.713389,4.101716,11.927512,34.099309,21.393069,34.303177,20.007208,10.392889,...,22.614889,4.534454,13.876221,3.695503,5.525093,3.517346,8.254376,4.860769,7712.430000,1.000000

In [5]:
data.dtypes

Time        int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class     float64
dtype: object

In [6]:
# Step 3: Get the correct datatype for date
# Assuming the 'Time' column represents time in seconds, we can convert it to datetime
data['Time'] = pd.to_datetime(data['Time'], unit='s')

In [7]:
data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,1970-01-01 00:00:00,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,1970-01-01 00:00:00,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1970-01-01 00:00:01,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1970-01-01 00:00:01,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,1970-01-01 00:00:02,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17500,1970-01-01 07:59:33,-0.430412,1.018080,1.560273,-0.025709,-0.061009,-0.904727,0.698988,-0.064000,-0.390847,...,-0.225444,-0.598821,-0.012457,0.359689,-0.192403,0.071511,0.263548,0.121474,5.38,0.0
17501,1970-01-01 07:59:34,-1.184230,1.025272,1.722521,-0.246293,0.689898,1.006001,0.474374,0.400677,-0.506778,...,0.221976,0.824696,-0.164754,-0.589006,0.132438,0.562652,0.053304,0.109783,3.99,0.0
17502,1970-01-01 07:59:35,1.067437,-0.828109,0.456921,0.510196,-0.881389,0.149908,-0.474485,-0.092441,-0.585492,...,-0.193558,-0.188801,-0.302328,-0.435477,0.622916,-0.190089,0.056720,0.054231,158.00,0.0
17503,1970-01-01 07:59:36,-6.392357,4.547807,-7.610294,2.051154,-3.701227,-2.361965,-2.346386,4.345503,-0.186320,...,-0.079794,-0.754866,-0.147426,0.063744,0.106242,-0.374011,0.041010,-0.266988,89.99,0.0
17504,1970-01-01 07:59:37,0.877247,-0.990305,0.565650,0.150685,-0.770408,0.625613,-0.494277,0.187495,1.210786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Step 3: Get the correct datatype for date
# Assuming the 'Time' column represents time in seconds, we can convert it to datetime
data['Time'] = pd.to_datetime(data['Time'], unit='s')

In [15]:
print(y.isnull().sum())

0

In [12]:
data.dropna(subset=['Class'], inplace=True)

In [14]:
# Fill missing values with the mean
y.fillna(y.mean(), inplace=True)

In [17]:
#step 4
from sklearn.decomposition import PCA

# Exclude datetime column 'Time' before applying PCA
X_features = data.drop(['Time', 'Class'], axis=1)  # Exclude 'Time' and 'Class' columns
y_target = data['Class']

In [18]:
# Step 5: Feature Engineering and feature selection using PCA
pca = PCA(n_components=10)  # Choose the number of principal components
X_pca = pca.fit_transform(X_features)

In [20]:
from sklearn.model_selection import train_test_split
# Step 6: Train/Test Split using PCA-transformed features
X_train, X_test, y_train, y_test = train_test_split(X_pca, y_target, test_size=0.2, random_state=42)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import joblib
# Step 7: Model Selection, Training, Predicting, and Assessment using RandomForestClassifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)

In [23]:
# Step 8: Model evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.998286203941731
Classification Report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      3487
         1.0       0.79      0.79      0.79        14

    accuracy                           1.00      3501
   macro avg       0.89      0.89      0.89      3501
weighted avg       1.00      1.00      1.00      3501

Confusion Matrix:
 [[3484    3]
 [   3   11]]

In [24]:
# Step 9: Model deployment plan
# Save the trained model
joblib.dump(rf_model, 'credit_card_fraud_detection_model.pkl')

['credit_card_fraud_detection_model.pkl']